<section id="cremos" class="section-compact">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-heading">Em que cremos</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 text-center">
                <div class="service-box animate-in">
                    <i class="fa fa-5x fa-user text-primary"></i>
                    <h4>Pessoas transformadas</h4>
                    <p class="text-muted">O indivíduo chamado por Deus é transformado pela mensagem do evangelho aplicada pelo Espírito Santo para glorificar a Deus.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <div class="service-box animate-in">
                    <i class="fa fa-5x fa-users text-primary"></i>
                    <h4>Relacionamentos transformados</h4>
                    <p class="text-muted">O indivíduo transformado relaciona-se com o próximo a partir do fruto do Espírito de Deus produzido na sua vida.</p>
                </div>
            </div>
            <div class="col-lg-4 col-12 text-center">
                <div class="service-box animate-in">
                    <i class="fa fa-5x fa-globe text-primary"></i>
                    <h4>Transformando o mundo</h4>
                    <p class="text-muted">O indivíduo transformado é convocado a anunciar o evangelho de Jesus Cristo onde estiver. Apenas o evangelho tem poder suficiente para transformar pessoas e estruturas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
