<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center gap-4 footer-social">
                <a href="https://www.instagram.com/ippedrasvivas/" aria-label="Instagram">
                    <i class="fa fa-brands fa-instagram fa-2x text-dark" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com/c/IgrejaPresbiterianaPedrasVivas" aria-label="YouTube">
                    <i class="fa fa-brands fa-youtube fa-2x text-dark" aria-hidden="true"></i>
                </a>
                <a href="https://open.spotify.com/show/4p2dVJENnlIuC8EGC9Rd28" aria-label="Spotify">
                    <i class="fa fa-brands fa-spotify fa-2x text-dark" aria-hidden="true"></i>
                </a>
                <a href="mailto:ippedrasvivas@gmail.com" aria-label="Enviar e-mail">
                    <i class="fa fa-envelope fa-2x text-dark" aria-hidden="true"></i>
                </a>
            </div>
        </div>
        <div class="row mt-2 p-2">
            <div class="col-10 offset-1 text-center">
                <h4><strong>Igreja Presbiteriana Pedras Vivas</strong></h4>
            </div>
        </div>
    </div>
</footer>
