<header class="header-home">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Igreja Presbiteriana<br>Pedras Vivas</h1>
            <hr>
            <a href="#sobre" class="btn btn-primary btn-xl page-scroll">Conheça-nos</a>
        </div>
    </div>

</header>

<aside class="bg-dark">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>I Simpósio IPPV 2023</h2>
            <a href="1simposio" class="btn btn-primary btn-xl wow tada">Mais informações</a>
        </div>
    </div>
</aside>
