<section id="info" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-clock"></i>
                    <h3>Culto solene (Domingo)</h3>
                    <p class="text-muted">09:00 - Culto matutino<br>18:30 - Culto vespertino</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 text-center">
                <div class="service-box">
                    <i class="fa fa-5x fa-envelope"></i>
                    <h3>Contato</h3>
                    <p><a href="mailto:ippedrasvivas@gmail.com">ippedrasvivas@gmail.com</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-center">
                    <i class="fa fa-5x fa-hands-holding"></i>
                    <h3>Dados bancários</h3>
                    <p class="text-muted">Agência: 0001<br>
                        Conta: 2472179-8 <br>
                        Instituição: 403 - Cora SCD <br>
                        Igreja Presbiteriana Pedras Vivas<br>
                        CNPJ / PIX: 30.061.271/0001-18</p>
                </div>
        </div>

    </div>
</section>
