<section id="ipb" class="section-compact">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 offset-lg-2">
                <hr class="primary">
                <p class="text-muted">
                    {{page.subscricao | markdownify}}
                </p>
            </div>
        </div>
        <div class="row text-center brand-panel">
            <div class="col-sm-6 col-12">
                <img src="img/ippv-logo-2026.png" class="img-fluid d-block mx-auto brand-seal" alt="Logo da Igreja Presbiteriana Pedras Vivas">
            </div>
            <div class="col-sm-6 col-12">
                <img src="img/ipb-transparente.png" class="img-fluid d-block mx-auto brand-seal brand-seal-ipb" alt="Logo da Igreja Presbiteriana do Brasil">
            </div>
        </div>
    </div>
</section>
