<section class="no-padding bg-dark" id="modus-vivendi">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/modus/culto.jpg" class="img-responsive" alt="" style="width: 650px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Culto Solene
                            </div>
                            <div class="project-category text-faded">
                                Domingo às 15h e 17h
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://placehold.it/650x488" class="img-responsive" alt="" style="width: 650px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Pedras Alfa
                            </div>
                            <div class="project-category text-faded">
                                
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://placehold.it/650x488" class="img-responsive" alt="" style="width: 650px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Escola da Vida
                            </div>
                            <div class="project-category text-faded">
                                Domingo às 9h, temporariamente online
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/modus/pg-pepe.jpg" class="img-responsive" alt="" style="width: 650px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Grupos Pequenos
                            </div>
                            <div class="project-category text-faded">
                                Nos lares
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/modus/qen.jpg" class="img-responsive" alt="" style="width: 650px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Qual é a novidade?
                            </div>
                            <div class="project-category text-faded">
                                A porta de entrada na nossa comunidade
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="http://placehold.it/650x488" class="img-responsive" alt="" style="width: 650px;">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Em Família
                            </div>
                            <div class="project-category text-faded">
                                Semestralmente
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
