<section class="bg-primary" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>A Igreja Presbiteriana Pedras Vivas é uma igreja cristã e urbana, de abordagem teológica reformada, comprometida com a proclamação e vivência do evangelho de Jesus Cristo e com a integridade no ensino e prática bíblica. Atenta à cultura contemporânea e engajada a comunicar a vida em Jesus de forma inteligível, compreensível e acolhedora. </h2>
            </div>
        </div>
    </div>
</section>
