@mixin transition-all() {
    transition: all 0.35s;
}

@mixin background-cover() {
    background-size: cover;
}

@mixin sans-serif-font() {
    font-family: 'Source Sans 3', 'Helvetica Neue', Arial, sans-serif;
}

@mixin serif-font() {
    font-family: 'Libre Baskerville', 'Times New Roman', serif;
}
